<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-12 col-md-2 sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h3 class="nav-link-main">Task Manager</h3>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Edit Task</a>
        </li>
      </ul>
    </div>

    <!-- Main content area -->
    <main role="main" class="col-12 col-md-10 main-content">
      <h1>Main Content Area</h1>
      <p>This is the main content area where your page content will go.</p>
    </main>
  </div>
</div>


