<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-12 col-md-2 sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <h3 class="nav-link-main" routerLink="Home">Task Manager</h3>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="CreateTask">Create Task</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="EditTask/">Edit Task</a>
        </li> -->
      </ul>
    </div>

    <!-- Main content area -->
    <main role="main" class="col-12 col-md-10 main-content">
      
      <router-outlet></router-outlet>
    </main>
  </div>
</div>


