<h1 class="heading">Edit Task</h1>
    <div class="container">
        <div class="row">
            <form class="form" action="" [formGroup]="taskFormEdit" >
                <div class="form-group">
                    <label for="taskTitle" style="margin: 10px auto;">Enter New Title:</label>
                    <input type="text" id="taskTitle" class="form-control" formControlName="newtitle">
                </div>
                   
                <div class="form-group">
                    <label for="taskDescription"style="margin: 10px auto;">Enter New description:</label>
                    <textarea id="taskDescription" class="form-control" rows="3" cols="50" formControlName="newdesc"></textarea>
                </div> 
                <button class="btn btn-primary" style="margin: 10px auto; background-color:black ;">Update Task</button>    
            </form>
        </div>
    </div>